@import 'bootstrap/less/bootstrap';

@import '../styles/fonts';
@import '../styles/variables';


body {
    font-family: @regular;
}

header {
    position: relative;
    padding: 20px 5px;
    height: 50px;
    line-height: 90px;
    width: 100%;
}

nav {
    ul {
        li {
            padding: 10px 20px;
            font-size: @small;
            border-left: 1px solid @gray;
            color: @gray;
            b {
                font-family: @bold;
                color: @darkgray;
            }
        }
        li:first-child {
            border: none;
        }
    }
}
.container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}
.nav-container {
    width: 940px;
}

.logo {
    a {
        background: url('../images/codetag-logo-gris.png') 0 0 no-repeat;
        height: 47px;
        width: 200px;
        color: transparent;
        float: left;
        padding: 2px 60px;
    }
}

.big-header-image {
    height: 365px;
    background: url('../images/main-image.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 190px;
    text-align: center;
    display: block;
    margin: 0 auto;
    letter-spacing: 1px;

    h1 {
        text-align: center;
        margin: 0 auto;
        width: 940px;
        font-family: 'Conv_ProximaNova-Extrabold';
        padding: 10px;
        line-height: 0.9;
        font-size: @huge;
        color: @white;
    }

    .btn {
        margin-top: 100px;
    }
}

.btn-large {
    font-family: @bold;
    padding: 18px 19px;
    font-size: @medium;
    letter-spacing: 1px;
}

.btn-success {
  .buttonBackground(@btnSuccessBootcampHighlight, @btnSuccessBootcampHighlight);
}

.more-info {
    display: inline-block;
    position: relative;
    padding: 30px;
    h1 {
        color: @action-blue;
        font-family: @bold;
        font-size: @huge;
        width: 210px;
        padding: 0px;
        margin-top: 0px;
        margin-left: 80px;
        line-height: 0.8;
        text-align: right;
        float: left;
    }
    p {
        color: @gray;
        font-family: @regular;
        font-size: @small;
        text-align: left;
        float: right;
        padding: 0px 25px;
        width: 540px;
    }
}

.program {
    margin: 0 auto;
    text-align: center;
    background-color: @action-blue;
    color: @white;
    padding: 30px 0px;
    .program-content{
        width: 940px;
        margin: 0 auto;
    }
    h2 {
        padding: 20px 0px;
        font-family: @bold;
        font-size: @medium;
        line-height: 0.8;
    }
    .program-element {
        font-family: @light;
        font-size: @small;
        text-align: left;
        padding: 20px 0px;
        h4 {
            font-size: @medium;
            font-family: @light;
        }
        img {
            margin: 20px 25px;
        }
    }
}

.companies {
    margin: 0 auto;
    text-align: center;
    color: @gray;
    padding: 30px 0px;
    width: 940px;
    h2 {
        padding: 20px 0px;
        font-family: @bold;
        font-size: @medium;
        line-height: 0.8;
    }
    p {
        font-family: @regular;
        font-size: @small;
    }
    .logos {
        padding: 20px 0px;
    }
    .thumbnails {
        display: table;
        li {
            display: inline;
            width: 90px;
        }
    }
}
.bootcamps {
    margin: 0 auto;
    text-align: center;
    background-color: @action-red;
    padding: 10px 0px;
    h2 {
        padding: 0px;
        margin: 0 auto;
        padding-top: 40px;
        font-family: @bold;
        font-size: @medium;
        color: @white;
    }
    img {
        position: relative;
        top: 50px;
    }
    .thumbnail {
        border-radius: 20px;
        border: 20px solid @action-blue;
        padding: 20px;
        background-color: @white;
        p {
            padding: 25px;
            font-family: @regular;
            font-size: @small;
        }
    }
    .caption {
        color: @gray;
        h3 {
            color: @action-blue;
            font-size: @medium;
            font-family: @bold;
        }
    }
}
.modal-body {
    input {
        display: block;
        width: 97%;
    }
}
#hidden_iframe {
    display: none;
}