@import 'bootstrap/less/bootstrap';

@import '../styles/fonts';
@import '../styles/variables';

/**mixins**/
.border-box {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box;
}

body {
    font-family: @regular;
}

header {
    position: relative;
    padding: 20px 5px;
    height: 90px;
    line-height: 90px;
    width: 100%;
}

nav {
    ul {
        li {
            padding: 10px 20px;
            font-size: @small;
            border-left: 1px solid @gray;
            color: @gray;
            a {
                padding: 1px;
                color: @gray;
                margin: 0 auto;
            }
            b {
                font-family: @bold;
                color: @darkgray;
            }
        }
        li:first-child {
            border: none;
        }
    }
}
.container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

.main-content > div {
    padding: 50px 0;
}

.nav-container {
    width: 940px;
}

.logo {
    a {
        background: url('../images/codetag-logo-gris.png') 0 0 no-repeat;
        height: 47px;
        width: 200px;
        color: transparent;
        float: left;
        padding: 2px 50px;
    }
}

#big-header-image {
    height: 365px;
    background: url('../images/main-image.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 190px;
    text-align: center;
    display: block;
    margin: 0 auto;
    letter-spacing: 1px;

    h1 {
        text-align: center;
        margin: 0 auto;
        width: 940px;
        font-family: 'Conv_ProximaNova-Extrabold';
        padding: 10px;
        line-height: 0.9;
        font-size: @huge;
        color: @white;
    }

    .btn {
        margin-top: 100px;
    }
}

.btn-large {
    font-family: @bold;
    font-size: @medium-button;
    letter-spacing: 1px;
}

.btn-success {
  .buttonBackground(@btnSuccessBootcampHighlight, @btnSuccessBootcamp);
  border-radius: 40px;
  height: 30px;
  width: 150px;
  line-height: 28px;
}
.more-info {
    display: inline-block;
    position: relative;
    h1 {
        color: @action-blue;
        font-family: @bold;
        font-size: @huge;
        width: 210px;
        padding: 0px;
        margin-top: 0px;
        margin-left: 80px;
        line-height: 0.8;
        text-align: right;
        float: left;
        padding-top: 30px;
    }
    p {
        color: @black;
        font-family: @light;
        font-size: @small;
        text-align: left;
        float: right;
        padding: 0px 25px;
        width: 540px;
    }
}

.program {
    margin: 0 auto;
    text-align: center;
    background-color: @action-blue;
    color: @white;
    .program-content{
        width: 940px;
        margin: 0 auto;
    }
    h2 {
        padding: 0;
        font-family: @bold;
        font-size: @medium;
        line-height: 0.8;
    }
    .program-element {
        font-family: @light;
        font-size: @small;
        text-align: left;
        padding: 20px 0px;
        h4 {
            font-size: @medium;
            font-family: @light;
        }
        img {
            margin: 20px 25px;
        }
    }
}

.companies {
    margin: 0 auto;
    text-align: center;
    color: @black;
    width: 940px;
    h2 {
        padding: 0;
        font-family: @bold;
        font-size: @medium;
        line-height: 0.8;
        color: @gray;
    }
    p {
        font-family: @light;
        font-size: @small;
    }
    .logos {
        padding: 20px 0px;
    }
    .thumbnails {
        display: table;
        li {
            display: inline;
            width: 90px;
        }
    }
}
.bootcamps {
    margin: 0 auto;
    text-align: center;
    background-color: @action-red;
    padding: 10px 0px;
    color: @black;
    h2 {
        padding: 0px;
        margin: 0 auto;
        padding-top: 40px;
        font-family: @bold;
        font-size: @medium;
        color: @white;
    }
    img {
        position: relative;
        top: 50px;
    }
    .thumbnail {
        border-radius: 20px;
        border: 25px solid @action-blue;
        padding: 20px;
        background-color: @white;
        p {
            padding: 25px;
            font-family: @light;
            font-size: @small;
        }
    }
    .caption {
        color: @black;
        h3 {
            color: @gray;
            color: @action-blue;
            font-size: @medium;
            font-family: @bold;
            line-height: 30px;
            margin-top: 30px;
        }
        h4 {
            font-family: @light;
            font-size: @small;
        }
        p {
            padding: 0;
        }
    }
}
#bootcamps {
    .course {
        max-width: 420px;
        width: 420px;
        margin: 0 auto;
        float: none
    }
}
.modal-body {
    input {
        display: block;
        width: 97%;
    }
}
#hidden_iframe {
    display: none;
}