//Colors

@gray: #9d9d9e;
@darkgray: #575759;
@white: white;
@action-blue: #00cdff;
@action-red: #da3445;

//Fonts

@bold:'Conv_ProximaNova-Extrabold';
@regular:'Conv_ProximaNova-Regular';

//Bootstrap

@btnSuccessBootcamp:              #407f9f;
@btnSuccessBootcampHighlight:     #00cdff;

